.custom-navbar {
    overflow: hidden;
    position: fixed;
    top: 0; 
    width: 100%;
    background-color: #000000b4 !important;
    border-color: #000000b4 !important;
    z-index:99999;
}

.nav-link{
    color: #ffffff;
    font-size: 16px;
}

.nav-link:hover {
    color: #bdbdbd !important;
}

.navspace{
    margin-left: 30px;
}

body{
    background-color: #111111;
}

.custom-footer {
    background-color: #000000 !important;
}

.colorFont{
    color: #ffffff !important;
}

.btn.btn-dark {
    padding: 15px 30px; 
    font-size: 15px;
    background-color: #353535 !important;
}

.imgBanner{
    width: 100%;
}